body{
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    font-family: "Bree Serif",serif;
}

.container{
    border: 2px blue solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

#i_title{
    font-size:3vw;
    font-family: 'Rammetto One',Cursive;
    padding-top: 10px;
    text-align: center;
}

.info, .endorsement, .friends{
    border: 2px yellow solid;
    height: 33%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}
.endorsement{
    flex-direction: row-reverse;
    background-image: url(img/clouds.webp);
}

.info{
    flex-direction: row;
}

.friends{
    flex-direction: column;
}

#ileft ,#iright, #eleft ,#eright{
    width: 49%;
    max-width: 49%;
}

#iright , #eleft{
    border: 2px green solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ileft , #eright{
    border: 2px red solid;
}

#iright, #eleft {
    text-align: center;
}


#ftop{
    border: 2px red solid;
    text-align: center;
}

#fbottom{
    border: 2px green solid;
    text-align: center;
}

.banner{
    height: 350px;
    width:100%;
    border: 3px orange dotted;
    position: relative;
}

#b_img{
 height: 100%;
 width:100%;
object-fit:cover;
}


.top_page{
    position: relative;
}

#pimg{
    position: absolute;
    border-radius: 200px;
    border: 10px red dotted;
    width: 150px;
    height: 150px;
    margin-bottom: 70%;
    margin-left: -2%;
}